.tableHeader{
    color: white;
    background: #330000;
}


.tableSupplier{
    font-weight: bold;
}

.alignButton AllSupplier{
    width: 100%;
}

.updateDelete{
    display:flex; 
    flex-direction:row;
    align-items: center;
}

.modal-backdrop{
    background-color: silver;
}
.modal-content{
    background-color: #BCC3D1;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 25px !important;
    font-weight: bold; 
}
.modal-content button{
    background-color: #288FB4;
}

.submitBtnForm{
    width: 100%;
    border-radius: 8px;
    font-weight: bold;
}